{% extends "layout.html"%}

{% block main %}
    <main>
        <div class="row justify-content-around mt-5">
            <!-- First column (photo)-->
            <div class="col-lg-7">
                <img src="../static/Map.png" alt="Map with marked location of flower shop" style="width:100%;">
            </div>
            <div class="col-lg-3">
                <h2>Visit us!</h2>
                <h4>die Blume Sp. z o.o.</h4>
                <p>157 Aleja Krakowska St.</p>
                <p>02-673 WARSAW</p>
                <br>
                <h4>Working time</h4>
                <p>Tues - Sun: 9:00 a.m. - 6:00 p.m.</p>
                <br>
                <hr>
                <br>
            </div>
        </div>
    </main>
{% endblock %}