
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="die Blume - online flower shop in Warsaw">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block style %}{% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body style="display:flex; flex-direction:column;">
        <nav class="bg-transperent border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">die Blume</a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if current_user.is_authenticated %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.subscription") }}">Subsciption</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.bouquet") }}">Bouquet</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.event") }}">Event</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.contact") }}">Contact</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.profile") }}">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("auth.sign_out") }}">Sign Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.subscription") }}">Subsciption</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.bouquet") }}">Bouquet</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.event") }}">Event</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("main.contact") }}">Contact</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("auth.sign_up") }}">Sign up</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for("auth.sign_in") }}">Sign in</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            <p>Made by Yevhenii Kisel</p>
            <p>SoftServe Academy / CS50 Harvard</p>
            <p><a rel="email" href="yevhenii.kisel.design@gmail.com"></p> 
        </footer style="margin-top:auto;">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>