{% extends "layout.html" %}


{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
    <h1>This is sign up</h1>
    <form action="/signup" method="post">
        <div>
            <label>Your email<input type="email" placeholder="example@example.com" name="email"></label>

            <label>Your name</label><input type="password" placeholder="Optional" name="name">
            <label>Password</label><input type="password" placeholder="Input password" name="password">

            <input type="password" placeholder="Confirm password" name="confirmation">
        </div>
        <div>
            <button type="submit">Create an account</button>
        </div>
    </form>
{% endblock %}
