{% extends "layout.html" %}

{% block main %}
    {% if current_user.is_authenticated %}
        <form action="/subscription" method="post"></form>
            <!-- First step in subscription-->  
            <div class="tab tab-1" style="max-width:30%; padding: 24px; border:2px; border-color: green; min-width:fit-content; border-style:solid; border-radius:24px; position:static; float: right; margin:24px;" >
                <h3>Subscription priod</h3>
                <br>
                <h4>Choose delivery frequency</h4>  
                <!-- Number of deliveries per week -->
                <!-- once per week -->
                <div class="list-group" style="max-width: 400px; margin-top: 36px; margin-bottom: 36px;">
                    <input type="radio" name="perWeek" id="1perWeek" class="btn-check">
                    <label class="btn btn-outline-success" for="1perWeek">
                        <div class="d-flex justify-content-between w-100">
                            <h3>1 delivery / week</h3>
                            <small>150 PLN</small>
                        </div>
                        <p style="text-align:left;">Good choise for home or as a present.</p>
                    </label>
                </div>
                <!-- twice per week -->
                <div class="list-group" style="max-width: 400px; margin-top: 36px; margin-bottom: 36px;">
                    <input type="radio" name="perWeek" id="2perWeek" class="btn-check">
                    <label class="btn btn-outline-success" for="2perWeek">
                        <div class="d-flex justify-content-between w-100">
                            <h3>2 deliveries / week</h3>
                            <small>280 PLN</small>
                        </div>
                        <p style="text-align:left;">Pefrect solution for business</p>
                    </label>
                </div>
                
                <div style="align-content:center ;">
                <!-- Subscription period -->
                <h4>Subscription duration</h4>  
                <!-- duration of subscription period -->
                <!-- 3 month -->
                <div class="list-group" style="max-width: 400px; display:inline;">
                    <input type="radio" name="durationMonth" id="3month" class="btn-check">
                    <label class="btn btn-outline-success" for="3month">
                        <div class="d-block justify-content-between w-100" style="max-width:100px;">
                            <h3>3</h3>
                            <p>month</p>
                        </div>
                    </label>
                </div>
                <!-- 6 month -->
                <div class="list-group" style="max-width: 400px; display:inline;">
                    <input type="radio" name="durationMonth" id="6month" class="btn-check">
                    <label class="btn btn-outline-success" for="6month">
                        <div class="d-block justify-content-between w-100" style="max-width:100px;">
                            <h3>6</h3>
                            <p>month</p>
                        </div>
                    </label>
                </div>
                <!-- 12 month -->
                <div class="list-group" style="max-width: 400px; display:inline;">
                    <input type="radio" name="durationMonth" id="12month" class="btn-check">
                    <label class="btn btn-outline-success" for="12month">
                        <div class="d-block justify-content-between w-100" style="max-width:100px;">
                            <h3>12</h3>
                            <p>month</p>
                        </div>
                    </label>
                </div>
                <button type="submitk
                <button type="submit
                


            
            
            
            
            
            
            
            </div>


    {% endif %}
{% endblock %}